@font-face {
    font-family: FunnelDisplay;
    src: url(./fonts/FunnelDisplay-Regular.ttf);
}

@font-face {
    font-family: NorseBold;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: FunnelDisplay, Arial;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    margin: 0;
}

.content-left {
    width: 36%;
    border-right: solid 2px grey;
    position: relative;
}

.text-banner {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

#odin-img {
    height: 200px;
    opacity: 1;
}

.odin-text {
    font-family: NorseBold, Arial;
    font-size: 5em;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.credit {
    position: absolute;
    top: 95.5%;
    left: 35%;
    color: white;
}

.credit a {
    color: white;
}

.credit a:hover {
    color: lightgray;
}

.content-right {
    background-color: rgb(237, 237, 237);
    width: 64%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.form-intro-text {
    padding-left: 2em;
    padding-bottom: 2em;
}

#heading {
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 1em;
}

.intro-text {
    font-size: 22px;
}

.div-form {
    padding-left: 2em;
    background-color: rgb(250, 248, 248);
    box-shadow: 0 4px 2px -2px gray;
}

#form-header {
    padding: 1em 0;
}

form {
    width: 65%;
    padding-bottom: 1em
}

.form-section {
    display: flex;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#form-header {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 1em;
}

label {
    margin-bottom: 3px;
}

input {
    margin-bottom: 1em;
    margin-right: 2em;
    width: 16em;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 20px;
}

input[type="password"]:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.form-submit {
    padding-left: 2em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}

#submit {
    background-color: #345671;
    color: white;
    font-weight: 700;
    font-size: 22px;
    border-radius: 8px;
    padding: 1rem 2em;
    box-shadow: none;
    border-color: #345671;
    width: 12em;
    margin-bottom: 5px;
}

#submit:hover {
    background-color: #497191;
    cursor: pointer;
}

.form-submit a {
    color: black;
}

.form-submit a:hover {
    color: #497191
}