@font-face {
    font-family: FunnelDisplay;
    src: url(./fonts/FunnelDisplay-Regular.ttf);
}

@font-face {
    font-family: NorseBold;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: FunnelDisplay, Arial;
}

.container {
    display: flex;
    margin: 0;
}

.content-left {
    width: 36%;
    border-right: solid 2px grey;
    position: relative;
}

.text-banner {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

#odin-img {
    height: 200px;
    opacity: 1;
}

.odin-text {
    font-family: NorseBold, Arial;
    font-size: 5em;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.credit {
    position: absolute;
    top: 95.5%;
    left: 35%;
    color: white;
}

.credit a {
    color: white;
}

.credit a:hover {
    color: lightgray;
}

.content-right {
    background-color: rgb(237, 237, 237);
    width: 64%;
}